body{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
}
h1{
    font-size: 60px;
    text-align: center;
}

.name-color{
    color: rgb(0, 167, 189);
}
#cover{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
#list{
      text-align: center;
        color: rgb(3, 54, 59);
    
}
.persons-list{
    margin-left: 5%;
    
    text-align: justify;
    width: 40%;
    vertical-align: top;
    
}
.persons-list img{
    width: 30%;
    display: inline-block;
}
.joe{
    display: flex;
    
}